[preset.0]
name="Android Debug (APK)"
platform="Android"
runnable=true
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="export/android/debug/game-debug.apk"
encryption_include_filters=""
encryption_exclude_filters=""
script_export_mode=1
script_encryption_key=""

[preset.0.options]
package/unique_name="com.juan.starshot"
version/name="0.2.0"
version/code=20
package/min_sdk=24
package/target_sdk=35
gradle_build/use_gradle_build=false
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86_64=false
architectures/x86=false
permissions/internet=true
permissions/vibrate=true
one_click_deploy/clear_previous_install=true

[preset.1]
name="Android Release (AAB)"
platform="Android"
runnable=false
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="export/android/release/game-release.aab"
encryption_include_filters=""
encryption_exclude_filters=""
script_export_mode=1
script_encryption_key=""

[preset.1.options]
package/unique_name="com.juan.starshot"
version/name="1.0.0"
version/code=100
package/min_sdk=24
package/target_sdk=35
gradle_build/use_gradle_build=true
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86_64=true
architectures/x86=false
permissions/internet=true
permissions/vibrate=true
one_click_deploy/clear_previous_install=false
# Para release rellena:
# keystore/release="C:/ruta/a/tu.jks"
# keystore/release_user="tu_alias"
# keystore/release_password="tu_password"
